<<<<<<< HEAD
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ecran d'affichage</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">

    <li class="active"> <a href = '/'>Accueil</a> </li>
    <li> <a href = '/Contact.ejs'>Contacte nous !</a> </li>
    <li> <a href = '../uploads/Page-ecran'>Page écran</a> </li>
    <li> <a href = '../uploads/Page-admin'>Page admin</a> </li>
=======
<nav>
  <ul>
    <li> <a href = '/'>Accueil</a> </li>
    <li> <a href = '/Page-message'>Message du jour</a> </li>
    <li> <a href = '/Page-ecran'>Page ecran</a> </li>
    <li> <a href = '/Page-admin'>Page admin</a> </li>
>>>>>>> 1d8db3d8c857384c985e9f76e9c88ebc2cdaa49f
  </ul>
</nav>
