<nav>
  <ul>
    <li> <a href = '/'>Accueil</a> </li>
    <li> <a href = '/Page-message'>Message du jour</a> </li>
    <li> <a href = '/Page-ecran'>Page ecran</a> </li>
    <li> <a href = '/Page-admin'>Page admin</a> </li>
  </ul>
</nav>
