<nav>
  <ul>
    <li> <a href = '/'>Accueil</a> </li>
    <li> <a href = '/Contact'>Contacte nous !</a> </li>
    <li> <a href = '/Page-ecran'>Page écran</a> </li>
    <li> <a href = '/Page-admin'>Page admin</a> </li>
  </ul>
</nav>
