<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>

		<header>
		  <h1>Projet Ecran</h1>

			<% include partials/Navigation.ejs %>

			<h2>Page Admin</h2>
		</header>

		<section>
			<h3>
				Bienvenue cher administrateur !
			</h3>
			<p>
				Que souhaites-tu faire ?
				<ul>
					<li><a href = "/Page-admin/Nouveau-message">Changer le message de la page écran</a></li>
					<li><a href = "/Page-admin/Nouvelle-page">Importer un fichier html (cf Ombline et Mariame)</a></li>
					<li><a href = "/Page-admin/Reinitialisation">Restaurer la page écran initiale</a>	</li>
					<li><a>Importer un fichier Zip (en cours de dev) </a></li>
					<li><a href = "/Page-admin/historique_messages">Voir l'historique des messages postées (en cours de dev)</a></li>
				</ul>
			</p>

		</section>

	</body>

</html>
