<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>
		<header>
			<h1>Projet Ecran</h1>
			<h2>Contacte nous !</h2>
		</header>

		<% include partials/Navigation.ejs %>

		<section>
			<p>
				Merci beaucoup <%= POST.name %> pour ton message, nous reviendrons vers toi dès que possible !!<br />
				nous te recontacterons alors à l'adresse : <%= POST.mail%>
			</p>
		</section>

		<% include partials/Footer.ejs %>

	</body>

</html>
