<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>
		<header>
			<h1>Projet Ecran</h1>
			<h2>Contacte nous !</h2>
		</header>

		<% include partials/Navigation.ejs %>

		<section>
			<p>
				Voici un formulaire de contact, n'hésitez pas faire remonter tes critiques !!
			</p>
		</section>

		<form method ="POST" action = "/contact">
			<p>
				<label for = 'name'>Ton nom<br /></label>
				<input type = 'name' name ='name' value = 'John'/> <br /><br />

				<label for = 'mail'>Ton adresse mail<br /></label>
				<input type = 'email' name ='mail' value = 'John@malkovitch.com'/> <br /><br />

				<label for = 'object'>Objet de ton message<br /></label>
				<input type = 'text' name = 'object' value = 'Salut beauté'/><br /><br />

				<label for = 'message'>Vas y, dis nous tout ! ;) <br /></label>
				<textarea name = 'message' rows="10" cols="50">Chaud pour un verre ce soir ? </textarea><br /><br />

				<input type="submit" value="Envoyer" />
			</p>
		</form>

		<% include partials/Footer.ejs %>

	</body>

</html>
