<!DOCTYPE html>

<html>
  <% include partials/head.ejs %>

	<body>

		<header>
		  <h1>Projet Ecran</h1>
			<h2>Page d'accueil</h2>
		</header>

		<section>
			<p>
				Bienvenue Sur la page d'accueil de notre projet, profitez bien de votre visite !
			</p>

      <p>
        nous vous proposons :
        <nav>
          <ul>
            <li> <a href = '/'>Accueil</a> </li>
            <li> <a href = '/Page-message'>Message du jour</a> </li>
            <li> <a href = '/Page-ecran'>Page ecran</a> </li>
            <li> <a href = '/Page-admin'>Page admin</a> </li>
          </ul>
        </nav>

      </p>
		</section>

	</body>

</html>
