<!DOCTYPE html>

<html>
<% include partials/head.ejs %>

	<body>

		<header>
		  <h1>Projet Ecran</h1>
			<h2>Page d'accueil</h2>
		</header>

		<section>
			<p>
				Bienvenue Sur la page d'accueil de notre projet, profitez bien de votre visite !
			</p>

      <p >
        nous vous proposons :
        <% include partials/Navigation %>

      </p>
		</section>

	</body>

</html>
