<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>

		<header>
		  <h1>Projet Ecran</h1>
			<h2>Page administrateur</h2>
		</header>

		<% include partials/Navigation.ejs %>

		<section>
			<p>
				Bienvenue sur la messagerie du projet !
			</p>
		</section>

		<% include partials/Footer.ejs %>

	</body>

</html>
