<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>
		<header>
		  <h1>Projet Ecran</h1>
			<h2>Page d'accueil</h2>
		</header>

		<% include partials/Navigation.ejs %>

		<section>
			<h3>
				Bienvenue cher administrateur !
			</h3>

      <div class="row">
        <form class="col s12" id="formulaire-file" method="POST" enctype="multipart/form-data" action="/Nouvelle-page">
          <div class="row">
            <!-- <div class="input-field col s12">
              <textarea id="texte" name="texte" class="materialize-textarea"></textarea>
              <label for="texte">Textarea</label>
            </div> -->
            <label for="fileUpload"> Submit a file named index.html that contains the html to display </label>
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" multiple id="fileUpload" name="uploads[]">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>

            <button id="upload" class="btn waves-effect waves-light" type="submit">
              <i class="material-icons right">send</i>
              Submit
            </button>
          </div>
        </form>
      </div>

      <% include partials/js_import.ejs %>

      <script type="text/javascript">
          $(function () {
              $("#upload").bind("click", function () {
                  var files = $(this).get(0).files;
                  if (files.length > 0){
                      // One or more files selected, process the file upload

                      // create a FormData object which will be sent as the data payload in the
                      // AJAX request
                      var formData = new FormData();

                      // loop through all the selected files
                      for (var i = 0; i < files.length; i++) {
                        var file = files[i];

                        // add the files to formData object for the data payload
                        formData.append('uploads[]', file, file.name);
                      }

                    }
                  $.ajax({
                      url: "http://" + $(location).attr('host') + "/Page-admin",
                      type: 'POST',
                      data: formData,
                      processData: false,
                      contentType: false,
                      success: function(data){

                          console.log('upload successful!\n' + data);
                      }
                    })
          })});
          </script>

      <!-- <script>
              $(function() {
                  $( "form" ).submit((event) => {
                      event.preventDefault();
                      data = {
                          texte: $("$div").val()
                      }

                      if (data.texte) {
                          console.log("data sent: " + JSON.stringify(data))
                          $.ajax({
                              url: "http://" + $(location).attr('host') + "/admin",
                              type: 'POST',
                              contentType: 'application/json',
                              data: JSON.stringify(data),
                              success: function(data) {
                                  $("$div").val("")
                                  Materialize.toast('Votre demande a été envoyée!', 2000)
                              }
                          })
                      }
                      else {
                          console.log("no text to send.")
                      }
                  })
              })
          </script> -->
		</section>

		<% include partials/Footer.ejs %>

	</body>

</html>
