<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>
		<header>
		  <h1>Projet Ecran</h1>
			<h2>Page d'accueil</h2>
		</header>

		<% include partials/Navigation.ejs %>

		<section>
			<h3>
				Bienvenue cher administrateur !
			</h3>

      <p>
        voici la nouvelle page html que nous allons afficher
      </p>
      <HR />
      <section>
        <% include uploads/index.html %>
      </section>

      <HR />

      <p>
        voulez-vous modifier le message ? : <br />
        <a href = "/Page-admin/Nouveau-message">oui</a>
        <a href = "/">non</a>
      </p>
      <% include partials/Footer.ejs %>

	</body>

</html>
