<!DOCTYPE html>

<html>
	<% include partials/Head.ejs %>

	<body>

		<header>
		  <h1>Projet Ecran</h1>
		  <h2>Voici le message du jour</h2>
		</header>

		<section>
		  <p>
		    <%= message %>
		  </p>
		</section>

		<% include partials/Footer.ejs %>

	</body>

</html>
