<!DOCTYPE html>

<html>
	<head>
		<title>Vianney MORAIN ECM</title>
		<meta charset = "utf-8">
	</head>

	<body>
		<header>
			<h1>Projet Ecran</h1>
		</header>

    <nav>

    </nav>

		<section>
			<p>
				Bienvenue à <%= city %>
        cette belle ville de <%= données.pays%>
			</p>
		</section>

		<footer>
		</footer>

	</body>

</html>
