body{
  margin-top: 70px;
  padding : 20px ;
  background-color : #70b6ee ;
  text-align : center;
  color : rgb(254, 254, 254) ;
  font-family: sans-serif;
}


.menu_admin
{
  font-size: 2em;
  margin-top: 3px;
  margin-bottom: 3px;
}

ul
{
list-style-type: none;
}
